
/**
 * @file
 * Plumber tree default theming.
 */

/* Some jQuery UI tuning. */
.ui-dialog-content {
  padding: 0 !important;
}
.ui-dialog-overlay {
  background: black;
  opacity: .5;
}

/* Some resets. */
.plumber-tree,
.plumber-tree tr,
.plumber-tree th
{
  margin: 0;
  padding: 0;
  background: transparent;
}

/* Some Drupal themes mess up too badly with forms. */
.plumber-tree form {
  margin: 0 !important;
  padding: 0 !important;
}
.plumber-tree input {
  font: inherit;
}
.plumber-tree textarea,
.plumber-tree input[type=text],
.plumber-tree input[type=text]
{
  border: 1px solid #aaa;
}

.plumber-button-save {
  width: 16px;
  height: 16px;
  background: url(images/save.png);
  color: transparent;
  border: none;
}
.plumber-button-cancel {
  width: 16px;
  height: 16px;
  background: url(images/cancel.png);
  color: transparent;
  border: none;
}

.plumber-tree td {
  font-family: monospace;
  font-size: 90%;
  color: black;
  overflow: hidden;
  height: 16px;
  line-height: 16px;
  overflow: hidden;
}

.plumber-tree tr {
  background: white;
}

.plumber-tree tr.plumber-tree-mark {
  background-color: #fff7f7;
}

.plumber-tree tr:hover {
  background-color: #fcffb8;
}

.plumber-tree tr.plumber-tree-mark:hover {
  background-color: #ffdfdf;
}

.plumber-tree tr {
  border-bottom: 1px solid #eee;
}

td.plumber-expand-inline {
  min-width: 50%;
}

td.plumber-column-type {}

td.plumber-column-value {
  max-width: 30%;
  overflow: hidden;
}

td.plumber-column-operations {
  width: 10%;
}

.plumber-indent {
  width: 10px;
}

.plumber-expand-inline > * {
  float: left;
}

.plumber-expand {
  width: 10px;
  height: 100%;
  background: transparent;
  overflow-y: hidden;
  margin-right: 6px;
}

.plumber-refresh {
  width: 14px;
  height: 16px;
  background: transparent url(images/refresh.png) center center;
}

.plumber-expandable .plumber-expand {
  background: transparent url(images/collapsed.png) no-repeat center center;
}

.plumber-empty .plumber-expand {
  background: transparent url(images/empty.png) no-repeat center center;
}

.plumber-expanded .plumber-expand {
  background: transparent url(images/expanded.png) no-repeat center center;
}

.plumber-error .plumber-expand {
  background: transparent url(images/error.png) no-repeat left -10px;
}

.plumber-loading .plumber-expand {
  background: transparent url(images/throbber.gif) no-repeat left -10px;
}
